{:deps {:aliases [:cljs]}
 :nrepl {:port 7889}

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js"
   :asset-path "/js"

   :modules
   {:main {:init-fn rp.core/init!}}

   :devtools
   {:http-root "resources/public"
    :http-port 3000}

   :dev
   {:compiler-options
    {:optimizations :none}}

   :release
   {:compiler-options
    {:optimizations :advanced}}}}}
